.forms__section {
    margin-bottom: 4.3rem;
    
    .form__title {
        @include h3;
        color: $color-light-orange;
        margin-bottom: 3rem;
    }

    .additional-info__checkbox,
    .form-donate,
    .payment-info__field,
    .additional-info__share,
    .additional-info__comments {
        position: relative;
        margin-bottom: 1rem;
        margin-left: 45.4rem;
    }

    .additional-info__checkbox:first-child {
        margin-left: 0;
    }

    .additional-info__checkbox_corporate,
    .payment-info__field {
        margin-bottom: 2rem;
    }

    .checkbox__subtitle,
    .comments__subtitle,
    .field__subtitle {
        position: absolute;
        min-width: 18.5rem;
        left: -21.4rem;
        top: 25%;
        @include paragraph-bold;
        color: $color-black-blue;
        text-align: right;
    }

    .additional-info__checkbox-label {
        @include paragraph;
        color: $color-black-blue;
        padding-left: 0.8rem;
    }

    .field__input,
    .form-donate__input {
        width: 100%;
        min-height: 4.2rem;
        padding-left: 1.2rem;
        @include paragraph;
        color: #000;

    }

    .form-donate__input {
        width: 25%;
    }

    .field__input_card-expiration {
        width: 30%;
        margin-right: 3rem;
    }

    .field__input_code {
        width: 20%;
    }


    .field__input-label,
    .form-donate__input-label {
        position: absolute;
        top: 25%;
        left: 21%;
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        color: #929699;
    }

    .field__input-card-type-icon {
        position: absolute;
        width: 12.1rem;
        height: 4.3rem;
        right: 1.2rem;
        background: url("../../assets/icons/donate-form/paypal-logo.png");
        background-size: cover;
        background-position: center;
    }

    .field__subtitle-icon {
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        background: url("../../assets/icons/donate-form/star.svg");
        background-size: cover;
        background-position: center;
    }

    .field__subtitle-text {
        padding-left: 1rem;
    }
}

.networks-icons {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    margin-bottom: 1rem;

    .facebook {
        display: flex;
        width: 25px;
        height: 25px;
        margin-right: 25px;

        &-icon {
            width: inherit;
            height: inherit;
            background: url("../../assets/icons/donate-form/facebook.svg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .instagram {
        display: flex;
        width: 35px;
        height: 35px;
        margin-right: 25px;

        &-icon {
            width: inherit;
            height: inherit;
            background: url("../../assets/icons/donate-form/Instagram.svg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .twitter {
        display: flex;
        width: 25px;
        height: 25px;

        &-icon {
            width: inherit;
            height: inherit;
            background: url("../../assets/icons/donate-form/Twitter.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}