.feeding {
    background: $color-peach-gradient;
    margin-bottom: 14rem;

    .wrapper {
        padding: 6.9rem 0 10rem 0;
    }

    &-content {
        background: rgba(253, 253, 255, 0.52);
        padding: 4.1rem 0 6rem 0;
        // backdrop-filter: blur(4px);
        border-radius: 20px;
    }
    &__title_h2 {
        @include h2;
        color: $color-light-orange;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__subtitle {
        @include subtitle;
        color: $color-black-blue;
        margin-bottom: 4rem;
        margin-left: 9.9rem;
    }

    &__paragraph {
        max-width: 86rem;
        @include paragraph;
        color: $color-black-blue;
        //font-size: 1.2rem;
        margin-bottom: 3.2rem;
        margin-left: 9.9rem;
    }

    &__paragraph_bold {
        max-width:inherit;
        margin-bottom: 1rem;
        @include paragraph-bold;
        //font-size: 1.2rem;
        line-height: 130%;
    }

    &__paragraph_link {
        color: $color-black-blue;
        text-decoration: underline $color-light-orange;
        text-underline-offset: 0.1rem;
    }

    &__paragraph_link:hover {
        cursor: pointer;
    }

    &__paragraph_link:active {
        color: $color-green;
        text-decoration: underline $color-green;
    }

    &-instruction {
        max-width: 76.4rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .button {
            align-self: center;
        }
    }

    &__title_h3 {
        margin-bottom: 4rem;
        @include h3;
        color: $color-black-blue;
        text-align: center;
    }

    &-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6rem;
    }

    &-card {
        width: 16.8rem;
        height: 24.4rem;
    }

    &-card__bage {
        width: 16.8rem;
        height: 16.8rem;
        margin-bottom: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: $color-white;
        border: 0.1rem solid $color-light-orange;
        border-radius: 0.5rem;
    }

    &-card__icon-payment {
        width: 10.8rem;
        height: 6rem;
        background: url("../../assets/icons/payment-feeding/pay.svg");
        background-repeat: no-repeat;
    }

    &-card__icon-zoo {
        width: 8.6rem;
        height: 9.5rem;
        background: url("../../assets/icons/payment-feeding/zoo.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-card__icon-monkey {
        width: 12.5rem;
        height: 7.2rem;
        background: url("../../assets/icons/payment-feeding/monkey.svg");
        background-repeat: no-repeat;
    }

    &-card__figcaption {
        @include paragraph;
        color: $color-black-blue;
    }

    .instruction-arrow {
        width: 6.9rem;
        height: 3.5rem;
        background: url("../../assets/icons/payment-feeding/vector.svg");
        background-repeat: no-repeat;
        margin-bottom: 9rem;
    }
}