@media screen and (min-width: 320px) and (max-width: 639px) {
    .testimonials {
        margin-bottom: 6rem;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            margin-bottom: 2rem;
            font-size: 2.4rem;
        }

        &-list {
            flex-direction: column;
            margin-bottom: 1.6rem;
        }
        
        &-card {
            width: 29.9rem;
            height: 10.8rem;
            margin-bottom: 1.5rem;
        }
        
        &-card:nth-child(4) {
            display: none;
        }

        &-card__heading {
            padding: 0.8rem 0 1rem 1.2rem
        }

        &-card__text {
            height: 3.8rem;
            overflow: hidden;
        }

        .heading__sign {
            margin-left: 0.5rem;
          }

        &-slider-wrapper {
           display: none;
        }

        .button_squared {
            width: 24rem;
        }

        .leave-decor {
            width: 4rem;
            height: 9.6rem;
            //transform: rotate(-5deg);
            bottom: -9rem;
        }
    }
}