@import "../../../sass-common-components/constants";
@import "../../../sass-common-components/fonts";
@import "../../../sass-common-components/base";
@import "../../../sass-common-components/wrapper";

.animals {
    position: relative;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .palm-decor {
        position: absolute;
        left: 0;
        bottom: -10rem;
    }

    .strelitzia-decor {
        position: absolute;
        right: 0;
        bottom: -10rem;
    }
}

.animals-wrapper {
    width: 160rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.button-arrow {
    width: 6.2rem;
    height: 6.2rem;
    margin-bottom: 8rem;
    outline: none;
    border: none;
}

.button-arrow:hover {
    cursor: pointer;
}

.button-arrow_left {
    margin-left: 13.8rem;
    background: url("../../assets/icons/arrow_left.svg");
}

.button-arrow_right {
    margin-right: 13.8rem;
    background: url("../../assets/icons/arrow_right.svg");
}

.button-arrow_left:active {
    background: url("../../assets/icons/arrow_left_active.svg");
}

.button-arrow_right:active {
    background: url("../../assets/icons/arrow_right_active.svg");
}

.animals-list {
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

.animal-card {
    margin-bottom: 2rem;
    border: 0.1rem solid #fe9013;
    border-radius: 0.5rem;

    &__figcaption {
        min-height: 5.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        margin-left: 1.6rem;
    }

    &__title {
        @include button-text;
        color: $color-background-dark;
        text-transform: uppercase;
    }

    &__paragraph {
        @include paragraph-small;
        color: $color-background-dark;
        text-transform: capitalize;
    }

    &__icon {
        margin-right: 1.2rem;  
    }

    &__icon_herbivore {
        width: 3.3rem;
        height: 3.7rem;
        background: url("../../assets/icons/animals-cards/herbivore_icon.svg");
    }

    &__icon_carnivore {
        width: 4.8rem;
        height: 3.8rem;
        background: url("../../assets/icons/animals-cards/carnivore_icon.svg");
    }
}

