@media screen and (min-width: 1000px) and (max-width: 1599px) {

    .panda-cam,
    .eagle-cam,
    .gorilla-cam,
    .alligator-cam {
        margin-bottom: 6rem;

        .wrapper_main-cam {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right: 3rem;
        }

        .wrapper_main-cam-iframe {
            margin: 0;
            width: 778px;
            height: 438px;
        }

         &__title {
             top: 10rem;
        }
    }

    .more-cam {
        margin-bottom: 10rem;

        &-container {
            width: 65%;
            margin-left: 13rem;
        }

        &-wrapper {
            position: relative;
        }

        &-list {
            //justify-content: flex-start;
            
        
            &-item {
                position: relative;
                width: 293px;
                height: 210px;
                margin-right: 3rem;
            }

            // &-item:nth-child(3),
            // &-item:nth-child(4)
            // {
            //     display: none;
            // }
        }
    }

    .wrapper_cam {
        position: relative;

    }


    .to-left {
        animation-name: left_1000;
    }

    .from-left {
        animation-name: left_1000;
        animation-direction: reverse;
    }


    @keyframes left_1000 {
        from {
            left: 0;
        }
        to {
            left: -50%;
        }
    }

    @keyframes right_1000 {
        from {
            left: 50%;
        }
        to {
            left: 0;
        }
    }
}