@media screen and (min-width: 1000px) and (max-width:1599px) {

    .leave-decor {
       
        right: 0;
        bottom: 39rem;
        width: 17.5rem;
        height: 16rem;
       
    }

    .strelitzia-decor {
        
        left: 0;
        bottom: 39rem;
        width: 18.7rem;
        height: 13.9rem;
    }
}