@media screen and (min-width: 640px) and (max-width: 999px) {

    .donate {
        min-height: 28.5rem;
        padding-bottom: 3.3rem;
    }
    .leave-decor {
       
        right: 0;
        bottom: 28.5rem;
        width: 12.5rem;
        height: 10.5rem;
       
    }

    .strelitzia-decor {
        
        left: 0;
        bottom: 28.5rem;
        width: 14.4rem;
        height: 10.7rem;
    }
}