@media screen and (min-width: 320px) and (max-width: 639px) {

    .donate {
        min-height: 22.1rem;
        padding-bottom: 1rem;
    }
    .leave-decor {
       
        right: 0;
        bottom: 21.8rem;
        width: 6.3rem;
        height: 7rem;
       
    }

    .strelitzia-decor {
        
        left: 0;
        bottom: 22rem;
        width: 10.7rem;
        height: 6.3rem;
    }
}