.panda-description,
.eagle-description,
.alligator-description,
.gorilla-description {

    &__title {
        @include h2;
        font-weight: 500;
        color: $color-green;
        margin-bottom: 2rem;
    }

    &__small-info {
        padding-bottom: 2rem;
        margin-bottom: 4.1rem;
        border-bottom: 0.1rem solid #767474;
    }

    &__content {
        display: flex;
    }

    &__text {
        @include paragraph-zoos-bold;
        color: $color-gray-smoky;
        margin-bottom: 4.1rem;
    }

    &__photo {
        padding-right: 7rem;
    }

    

    &__details {
        margin-bottom: 18rem;

        &-paragraph {
            @include paragraph;
            line-height: 140%;
            color: $color-background-dark;
            padding-bottom: 2rem;
        }

        &-subtitle {
            @include subtitle;
            color: $color-background-dark;
            margin-bottom: 1rem;
        }

        .button__read-less_squared {
            @include paragraph;
            color: #000000;
            line-height: 140%;
            width: 12.9rem;
            height: 4.2rem;
            background-color: $color-gray-light;
            border: 0.1rem solid $color-black-blue;
            box-sizing: border-box;
            border-radius: 0.5rem;
            outline: none;
        }

        .button__read-less_squared:hover {
            cursor: pointer;
        }

    }
}