@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1161px;
  margin: 0 auto; }

:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1161px;
  margin: 0 auto; }

h1 {
  font-size: 0.01rem; }

.header {
  background-color: #000000; }
  .header .wrapper {
    display: flex; }
  .header__navigation {
    display: flex; }

.navigation {
  display: flex;
  align-items: center;
  list-style-type: none; }
  .navigation__item {
    display: flex;
    padding-left: 5.8rem; }
  .navigation__item:first-child {
    padding-left: 6.3rem; }
  .navigation__item a {
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: white;
    text-decoration: none; }
  .navigation__item a:hover {
    cursor: pointer; }
  .navigation__item a:active {
    color: #f9804b; }
  .navigation__item:first-child a {
    color: #f9804b;
    pointer-events: none; }

.logo {
  width: 8.2rem;
  height: 5.2rem;
  margin: 1.4rem 0;
  padding: 0.355rem 0.455rem;
  position: relative;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 1.902rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: 0.1rem solid #ffffff;
  border-radius: 0.2rem; }
  .logo__bamboo {
    width: 1.5rem;
    height: 2.1rem;
    position: absolute;
    top: 45.5%;
    left: 12%;
    background-image: url("../../assets/icons/logo/bamboo.svg");
    background-repeat: no-repeat; }

:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1161px;
  margin: 0 auto; }

:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.button_rounded {
  width: 29.8rem;
  height: 5.4rem;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  border-radius: 2.5rem;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  outline: none; }

.button_rounded:hover {
  cursor: pointer; }

.button_rounded:active {
  background: #4b9200; }

.intro {
  height: 78rem;
  margin-bottom: 14rem;
  background-image: url("../../assets/images/hero/giant_panda.png");
  background-repeat: no-repeat;
  background-size: cover; }

.hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
.hero .button {
  margin-right: 10rem; }

.title {
  width: 50rem;
  height: 40rem;
  margin-top: 8.6rem;
  margin-bottom: 6rem;
  position: relative; }
  .title__text {
    position: absolute;
    font-family: "Roboto", "sans-serif";
    font-weight: 700;
    font-size: 10.65rem;
    line-height: 75%;
    text-transform: uppercase;
    text-align: center;
    color: white; }
    .title__text .text_colored {
      color: #ffee2e; }
  .title__circle {
    width: 46.5rem;
    height: 46.5rem;
    position: absolute;
    top: -7.4rem;
    left: -7.4rem;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%; }

:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1161px;
  margin: 0 auto; }

.site-history {
  margin-bottom: 18rem;
  min-height: 40.3rem; }
  .site-history__photo {
    width: 60.9rem;
    height: 40.3rem;
    float: left;
    margin-right: 8.7rem;
    background-image: url("../../assets/images/site-history/bamboo-cap.png"); }
  .site-history .text__title {
    margin-bottom: 2rem;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 120%;
    color: #333b41; }
  .site-history .text__subtitle {
    margin-bottom: 3.2rem;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
    color: #333b41; }
  .site-history .text__paragraph {
    margin-bottom: 5.4rem;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    font-size: 1.25rem;
    color: #333b41; }
  .site-history .text__paragraph:last-child {
    margin-bottom: 0;
    line-height: 120%; }

:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1161px;
  margin: 0 auto; }

.animals {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.animals-wrapper {
  width: 160rem;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.button-arrow {
  width: 6.2rem;
  height: 6.2rem;
  margin-bottom: 8rem;
  outline: none;
  border: none; }

.button-arrow_left {
  margin-left: 13.8rem;
  background: url("../../assets/icons/arrow_left.svg"); }

.button-arrow_right {
  margin-right: 13.8rem;
  background: url("../../assets/icons/arrow_right.svg"); }

.animals-list {
  margin-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between; }

.animal-card {
  margin-bottom: 2rem;
  border: 0.1rem solid #fe9013;
  border-radius: 0.5rem; }
  .animal-card__figcaption {
    min-height: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .animal-card__text {
    margin-left: 1.6rem; }
  .animal-card__title {
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    color: #000000;
    text-transform: uppercase; }
  .animal-card__paragraph {
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    color: #000000;
    text-transform: capitalize; }
  .animal-card__icon {
    margin-right: 1.2rem; }
  .animal-card__icon_herbivore {
    width: 3.3rem;
    height: 3.7rem;
    background: url("../../assets/icons/animals-cards/herbivore_icon.svg"); }
  .animal-card__icon_carnivore {
    width: 4.8rem;
    height: 3.8rem;
    background: url("../../assets/icons/animals-cards/carnivore_icon.svg"); }

.feeding {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  margin-bottom: 14rem; }
  .feeding .wrapper {
    padding: 6.9rem 0 10rem 0; }
  .feeding-content {
    background: rgba(253, 253, 255, 0.52);
    padding: 4.1rem 0 6rem 0;
    border-radius: 20px; }
  .feeding__title_h2 {
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 120%;
    color: #fe9013;
    text-align: center;
    margin-bottom: 3rem; }
  .feeding__subtitle {
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
    color: #333b41;
    margin-bottom: 4rem;
    margin-left: 9.9rem; }
  .feeding__paragraph {
    max-width: 86rem;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: #333b41;
    font-size: 1.2rem;
    margin-bottom: 5.8rem;
    margin-left: 9.9rem; }
  .feeding__paragraph_bold {
    max-width: inherit;
    margin-bottom: 1rem;
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    font-size: 1.2rem;
    line-height: 130%; }
  .feeding__paragraph_link {
    color: #333b41;
    text-decoration: underline #fe9013;
    text-underline-offset: 0.1rem; }
  .feeding__paragraph_link:hover {
    cursor: pointer; }
  .feeding__paragraph_link:active {
    color: #4b9200;
    text-decoration: underline #4b9200; }
  .feeding-instruction {
    max-width: 76.4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .feeding-instruction .button {
      align-self: center; }
  .feeding__title_h3 {
    margin-bottom: 4rem;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 130%;
    color: #333b41;
    text-align: center; }
  .feeding-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem; }
  .feeding-card {
    width: 16.8rem;
    height: 24.4rem; }
  .feeding-card__bage {
    width: 16.8rem;
    height: 16.8rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 0.1rem solid #fe9013;
    border-radius: 0.5rem; }
  .feeding-card__icon-payment {
    width: 10.8rem;
    height: 6rem;
    background: url("../../assets/icons/payment-feeding/pay.svg");
    background-repeat: no-repeat; }
  .feeding-card__icon-zoo {
    width: 8.6rem;
    height: 9.5rem;
    background: url("../../assets/icons/payment-feeding/zoo.svg");
    background-repeat: no-repeat; }
  .feeding-card__icon-monkey {
    width: 12.5rem;
    height: 7.2rem;
    background: url("../../assets/icons/payment-feeding/monkey.svg");
    background-repeat: no-repeat; }
  .feeding-card__figcaption {
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: #333b41; }
  .feeding .instruction-arrow {
    width: 6.9rem;
    height: 3.5rem;
    background: url("../../assets/icons/payment-feeding/vector.svg");
    background-repeat: no-repeat;
    margin-bottom: 9rem; }

.button_squared {
  width: 29.8rem;
  height: 5.4rem;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  border-radius: 0.5rem;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  outline: none; }

.button_squared:hover {
  cursor: pointer; }

.button_squared:active {
  background: #4b9200; }

.testimonials__title {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 130%;
  color: #333b41;
  text-align: center;
  margin-bottom: 4.7rem; }
.testimonials-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 2rem; }
.testimonials-card {
  width: 26.8rem;
  border-radius: 2rem;
  background-color: #f1f3f2;
  position: relative; }
.testimonials-card:before {
  content: "";
  position: absolute;
  top: -0.2rem;
  bottom: -0.2rem;
  left: -0.2rem;
  right: -0.2rem;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 2rem;
  z-index: -1; }
.testimonials-card__heading {
  display: flex;
  padding: 1.5rem 0 1.1rem 1.6rem; }
.testimonials .heading__sign {
  margin-left: 1rem; }
.testimonials .heading__user-icon-img {
  width: 3.7rem;
  height: 3.7rem; }
.testimonials .heading__title {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;
  color: #000000;
  line-height: 120%;
  display: block; }
.testimonials .heading__location,
.testimonials .heading__day {
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 120%;
  color: #bdbdbd; }
.testimonials .heading__day:before {
  content: "•";
  color: #bdbdbd; }
.testimonials-card__text {
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 120%;
  color: #767474;
  margin: 0 1.5rem 1.6rem 1.6rem;
  height: 30.9rem;
  overflow: hidden; }
.testimonials-slider {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 59.9rem;
  height: 0.8rem;
  border-radius: 0.5rem;
  background: #f5f7f6;
  border: 0.1rem solid #f5f7f6;
  outline: none; }
.testimonials-slider-wrapper {
  width: 60rem;
  height: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3.1rem;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 1rem; }
.testimonials-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0.7rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 3rem;
  background: #fe9013;
  box-shadow: -100rem 0 0 100rem #fe9013;
  cursor: pointer; }
.testimonials-slider::-webkit-progress-value {
  background-color: #fe9013; }
.testimonials-slider::-moz-range-track {
  border: 0.1rem solid #fe9013; }
.testimonials-slider::-moz-range-track::before {
  content: "";
  position: absolute;
  top: -0.1rem;
  bottom: -0.1rem;
  left: -0.1rem;
  right: -0.1rem;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 1rem;
  z-index: -1; }
.testimonials-slider::-moz-range-thumb {
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  background: #fe9013;
  border: none; }
.testimonials-slider::-moz-range-progress {
  background-color: #fe9013; }

/*# sourceMappingURL=landing.css.map */
