@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1161px;
  margin: 0 auto; }

:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1161px;
  margin: 0 auto; }

h1 {
  font-size: 0.01rem; }

.header {
  background-color: #000000; }
  .header .wrapper {
    display: flex; }
  .header__navigation {
    display: flex; }

.navigation {
  display: flex;
  align-items: center;
  list-style-type: none; }
  .navigation__item {
    display: flex;
    padding-left: 5.8rem; }
  .navigation__item:first-child {
    padding-left: 6.3rem; }
  .navigation__item a {
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: white;
    text-decoration: none; }
  .navigation__item a:hover {
    cursor: pointer; }
  .navigation__item a:active {
    color: #f9804b; }
  .navigation__item:first-child a {
    color: #f9804b;
    pointer-events: none; }

.logo {
  width: 8.2rem;
  height: 5.2rem;
  margin: 1.4rem 0;
  background-image: url("../../assets/icons/logo/logo_2.svg"); }

:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1161px;
  margin: 0 auto; }

:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.button {
  width: 29.8rem;
  height: 5.4rem;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  border-radius: 2.5rem;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  outline: none; }

.button:hover {
  cursor: pointer; }

.button:active {
  background: #4b9200; }

.intro {
  height: 78rem;
  margin-bottom: 14rem;
  background-image: url("../../assets/images/hero/giant_panda.png");
  background-repeat: no-repeat;
  background-size: cover; }

.hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
.hero .button {
  margin-right: 10rem; }

.title {
  width: 50rem;
  height: 40rem;
  margin-top: 8.6rem;
  margin-bottom: 6rem;
  position: relative; }
  .title__text {
    position: absolute;
    font-family: "Roboto", "sans-serif";
    font-weight: 700;
    font-size: 10.65rem;
    line-height: 75%;
    text-transform: uppercase;
    text-align: center;
    color: white; }
    .title__text .text_colored {
      color: #ffee2e; }
  .title__circle {
    width: 46.5rem;
    height: 46.5rem;
    position: absolute;
    top: -7.4rem;
    left: -7.4rem;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%; }

:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1161px;
  margin: 0 auto; }

.site-history {
  margin-bottom: 18rem;
  min-height: 40.3rem; }
  .site-history__photo {
    width: 60.9rem;
    height: 40.3rem;
    float: left;
    margin-right: 8.7rem;
    background-image: url("../../assets/images/site-history/bamboo-cap.png"); }
  .site-history .text__title {
    margin-bottom: 2rem;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 120%;
    color: #333b41; }
  .site-history .text__subtitle {
    margin-bottom: 3.2rem;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
    color: #333b41; }
  .site-history .text__paragraph {
    margin-bottom: 5.4rem;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    font-size: 1.25rem;
    color: #333b41; }
  .site-history .text__paragraph:last-child {
    margin-bottom: 0;
    line-height: 120%; }

:root {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  max-width: 1161px;
  margin: 0 auto; }

.animals {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.animals-wrapper {
  width: 160rem;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.button-arrow {
  width: 6.2rem;
  height: 6.2rem;
  margin-bottom: 8rem;
  outline: none;
  border: none; }

.button-arrow_left {
  margin-left: 13.8rem;
  background: url("../../assets/icons/arrow_left.svg"); }

.button-arrow_right {
  margin-right: 13.8rem;
  background: url("../../assets/icons/arrow_right.svg"); }

.animals-list {
  margin-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between; }

.animal-card {
  margin-bottom: 2rem;
  border: 0.1rem solid #fe9013;
  border-radius: 0.5rem; }
  .animal-card__figcaption {
    min-height: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .animal-card__text {
    margin-left: 1.6rem; }
  .animal-card__title {
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    color: #000000;
    text-transform: uppercase; }
  .animal-card__paragraph {
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    color: #000000;
    text-transform: capitalize; }
  .animal-card__icon {
    margin-right: 1.2rem; }
  .animal-card__icon_herbivore {
    width: 3.3rem;
    height: 3.7rem;
    background: url("../../assets/icons/animals-cards/herbivore_icon.svg"); }
  .animal-card__icon_carnivore {
    width: 4.8rem;
    height: 3.8rem;
    background: url("../../assets/icons/animals-cards/carnivore_icon.svg"); }

/*# sourceMappingURL=landing.css.map */
