@import "./map-tooltip";

.map-main {
    background-color: $color-map-blue-light;
    padding-bottom: 1.7rem;
    
    .map {
        height: 92.1rem;
        background: url("../../assets/images/map/map.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .countries {
        width: 100%;
        height: 100%;
        position: relative;

        &-item {
            position: relative;
            display: inline-block;

            &_USA {
                top:48%;
                left: 16%;
                width: 23rem;
                height: 10rem;


            }

            &_Congo {
                top: 63.5%;
                left: 32%;
                width: 5.1rem;
                height: 7.7rem;

                .Congo__icon {
                    position: absolute;
                    top: -21%;
                    left: -41%;
                }
    
                .city__animals_item1 {
                    position: absolute;
                    top: 25%;
                    left: -36%;
                }
    
                .city-tooltip {
                    top: 100%;
                    left: -95%;
                }
    
                .city__animals_item1:hover ~ .city-tooltip {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.5s;
                }
            }

            &_China {
                top: 51.2%;
                left: 45.1%;
                width: 11.2rem;
                height: 11rem;

                .China__icon_1 {
                    position: absolute;
                    top: -31%;
                    left: 77%;
                }
                .China__icon_2 {
                    position: absolute;
                    top: 11%;
                    left: 72%;
                }
    
                .city__animals_item1 {
                    position: absolute;
                    top: -38%;
                    left: 44%;
                }
    
                .city__animals_item2 {
                    position: absolute;
                    left: 37%;
                    top: 23%;
                }
    
                .city-tooltip_1 {
                    top: 25%;
                    left: 0%;
                }
    
                .city-tooltip_2 {
                    top: 75%;
                    left: 0%;
                }
    
                .city__animals_item1:hover ~ .city-tooltip_1,
                .city__animals_item2:hover ~ .city-tooltip_2 {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.5s;
                }
            }
        }

        .cities {
            width: inherit;
            height: inherit;
        }

        .city {
            width: max-content;
        }

        &__name,
        .city__name {
            @include  country-name;
            color: $color-gray-countries;
        }


        .city {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;

            &-Los-Angeles {
                position: absolute;
                top: 20.6%;
                left: -3.7%;

                .city__animals_item1 {
                   position: absolute;
                   top: 25%;
                   left: -38%;
                }

                .city__animals_item2 {
                    position: absolute;
                    top: 134%;
                    left: -8%;
                }

                .city__animals_item1:hover,
                .city__animals_item2:hover {
                    cursor: pointer;
                }

                .city-tooltip {
                    top: 235%;
                    left: -35%;
                }

                .city__animals_item1:hover ~ .city-tooltip,
                .city__animals_item2:hover ~ .city-tooltip {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.5s;
                }

            }
    
            &-Florida {
                position: absolute;
                top: 47%;
                left: 45%;

                .city__animals_item1 {
                    position: absolute;
                    top: 100%;
                    left: -8%;
                }

                .city-tooltip {
                    top: 205%;
                    left: -27%;
                }

                .city__animals_item1:hover ~ .city-tooltip {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.5s;
                }
            }

            &__location-icon {
                width: 2.56rem;
                height: 3.2rem;
                background: url("../../assets/icons/map/location-icon.svg");
            }
        }

    }
}

.map-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 11.8rem;
    top: -15.3%;
    left: 15.5%;

    &__plus, 
    &__minus {
        position: relative;
        width: 5.4rem;
        height: 5.4rem;
        border: none;
        border-radius: 0.5rem;
        background-color: $color-white;
        outline: none;
    }

    &__plus:hover, 
    &__minus:hover {
        cursor: pointer;
    }

    .plus {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        background: url("../../assets/icons/map/plus.svg");
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: center;
    }

    .minus {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        background: url("../../assets/icons/map/minus.svg");
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: center;
    }
}