@import "./map-tooltip";



@media screen and (min-width: 320px) and (max-width: 639px) {
    .map-main {
        background-color: $color-map-blue-light;
        padding-top: 3.8rem;
        padding-bottom: 1.8rem;

        .wrapper {
            max-width: 40.6rem;
        }
        
         .map {
            height: 26.8rem;
            position: relative;
            background-size: cover;
            background-position-x: 32%;
         }

        .countries {

            width: 30rem;
            margin: 0 auto;
             &-item {

                 &_USA {
                    transform: scale(0.375);
                    top: 36.2%;
                    left: -18.1%;
                    height: 10rem;
                 }

                 &_Congo {
                    transform: scale(0.375);
                    top: 58.8%;
                    left: -24.8%;
                }
                &_China {
                    transform: scale(0.375);
                    top: 1.5%;
                    left: 72.2%;;
                }
            }
        }
    }

     .map-buttons {
         display: none;
    }

    .footer {
        .wrapper {
            padding-left: 0;
        }

    }
}

@media screen and (min-width: 345px) and (max-width: 639px) {
    .map-main {
        .wrapper {
            max-width: 40.6rem;
        }

        .countries {

            width: 30rem;
            margin: 0 auto;
             &-item {

                 &_USA {
                    transform: scale(0.375);
                    top: 36.2%;
                    left: -22.1%;
                    height: 10rem;
                 }

                 &_Congo {
                    transform: scale(0.375);
                    top: 58.8%;
                    left: -30.8%;
                }
                &_China {
                    transform: scale(0.375);
                    top: 1.5%;
                    left: 66.2%;;
                }
            }
        }
    }
}