.donate {
    margin: 0 auto;
    padding-bottom: 6rem;
    min-height: 39rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url("../../assets/images/zoos-alligator/alligator_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}