@media screen and (min-width: 320px) and (max-width:639px) {
    .donate-info__scale {
        width: 100%;
        position: relative;

         &-title {
        //     @include paragraph;
        //     color: $color-background-dark;
            margin-bottom: 1rem;
        }

        &-wrapper {
            width: 100%;
            height: 1.35rem;
            margin-bottom: 4.2rem;
            // display: flex;
            // background-color: #404950;
            // border-radius: 0.2rem;
        }
        
         &-radio-buttons {
        //     margin: 0 auto;
        //     display: flex;
                padding: 0 1.7rem;
        //     align-items: center;
        //     position: relative;
        //     width: 92rem;
         }
            
         &-radio-buttons:before {
        //     position: absolute;
             top: 40%;
        //     content: "";
             width: 87%;
        //     height: 0.2rem;
        //     background-color: #72828E;
        //     border-radius: 0.2rem;
        }
    }

    .scale-radio-buttons__item:nth-child(1), 
    .scale-radio-buttons__item:nth-child(2),
    .scale-radio-buttons__item:nth-child(3) { 
        display: none;
    }

    .scale-radio-buttons__item {
        position: relative;

        &-label {
            // @include paragraph-zoos-bold;
            // color: $color-black-blue;
            // position: absolute;
            top: 170%;
            left: -195%;
            font-size: 12px;
        }

        &-input {
            // appearance: none;
            // outline: none;
             width: 0.5rem;
             height: 0.5rem;
            // z-index: 1;
            //background-color: #ffee2e;
            //border: 1px solid #ffee2e;
            //border-radius: 50%;

            transform: scale(4);
            //cursor:pointer;
        }

        &-icon {
             width: 0.5rem;
             height: 0.5rem;
             top: 15%;
            // position: absolute;
            // left: 0;
            // background-color: #ffee2e;
            // border: 1px solid #ffee2e;
            // border-radius: 50%;

        }

        &-input:checked + &-icon:before {
            // content: "";
            // position: absolute;
            // top: -205%;
            // left: -225%;
            // border: 2px solid $color-light-orange;
            // width: 4rem;
            // height: 4rem;
            // border-radius: 50%; 
        }

        
        &-input:checked + &-icon:after {
        // content: "";
        // position: absolute;
        // top: -90%;
        // left: -95%;
        // border: 2px solid $color-light-orange;
        // width: 2rem;
        // height: 2rem;
        // border-radius: 50%; 
        }
    }
}