@media screen and (min-width: 640px) and (max-width:1599px) {
    .main-donate {

        .wrapper {
            padding: 4rem 0 3.2rem 0;
        }
    }
    .footer {
        .wrapper {
            padding-left: 0;
        }

        .form-subscribe__panel {
            padding-right: 3.5rem;
        }
    }
}
