@media screen and (min-width: 640px) and (max-width:999px) {
    .footer {
        .wrapper {
            padding-left: 0;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;

            grid-template-columns: 1fr 1fr;
            grid-template-areas: "logo     network"
                                 "donate   network"
                                 "nav       sign";
        }

        .logo {
            margin-top: 0;
            margin-bottom: 3.2rem;
        }

        .form-subscribe {
            display: none;
        }

        .button_donate {
            margin-bottom: 3.3rem;
        }

        &__navigation {
          
            .navigation {
                margin-bottom: 0rem;

                 &__item {
                    padding-left: 3.6rem;
                }
                &__item:first-child {
                    padding-left: 0rem;
                }
            }
        }

        .sign {
            align-items: flex-end;
            padding-left: 0;
        }

        .sign-design-author {
            padding-right: 0.5rem;
        }

        .social-network-list {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-bottom: 4.2rem;
    
            &__title {
                display: none;
            }

            &__item {
                margin-bottom: 2rem;
            }
    
            &__item:last-child {
               margin-bottom: 0;
            }

            .social-network-list__icon {
                margin-right: 0rem;
            }
        }

          

    }
}