@import "../sass-common-components/constants";
@import "../sass-common-components/base";
@import "../sass-common-components/wrapper";

h1 {
    font-size: 0.01rem;
}
.header {
    background-color: $color-background-dark;

    .wrapper {
        display: flex;
    }
    &__navigation {
        display: flex;
    }
}

.navigation {
    display: flex;
    align-items: center;
    list-style-type: none;
    &__item {
        display: flex;
        padding-left: 5.8rem;
    }
    &__item:first-child {
        padding-left: 6.3rem;
    }
    &__item a {
        @include paragraph;
        color: white;
        text-decoration: none;
    }

    &__item a:hover {
        cursor: pointer;
    }

    &__item a:active {
        color: $color-orange;
    }
    
    &__item:first-child a {
        color: $color-orange;
        pointer-events: none;
    }
}
